*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#header {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	position: relative;
	padding: 1em;
	/* grid-auto-flow: column;
  grid-auto-columns: 1fr 3fr 3fr; */
	/* justify-content: space-between; */
}

#logoContainer {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 20px;
	padding-left: 1em;
}

.logoText {
	font-size: calc(20px + (50 - 14) * ((100vw - 300px) / (1600 - 300)));
	color: #d9dddc;
	/* text-shadow: 0.025em 0.025em 0 white, 0.05em 0.05em 0 blue,
		0.075em 0.075em 0 #5c3e3f, 0.1em 0.1em 0 black; */
}

#nav ul {
	display: flex;
	height: 100%;
	align-items: flex-end;
	justify-content: start;
	gap: 2em;
	list-style: none;
	color: #5c3e3f;
	/* border: 1px solid red; */
}

.navBtn {
	background: none;
	border: none;
	position: relative;
	padding-bottom: 5px;
	transition: width 0.4s ease;
}

.navBtn::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	transition: width 0.4s ease-in-out;
}

.navBtn:hover::before {
	background: #6c63ff;
	width: 100%;
	height: 2px;
}

/* .logInContainer {
	position: relative;
	top: 20px;
} */

.logInContainer ul {
	display: flex;
	height: 100%;
	justify-content: center;
	padding-right: 1em;
	gap: 4em;
	align-items: center;
	list-style: none;
	color: #5c3e3f;
}

.signIn,
.signOut {
	padding: 0.7em 1.5em;
	border-radius: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #6c63ff;
	border: none;
	transition: all 0.4s ease;
}

.inBtn:hover,
.outBtn:hover {
	transform: scale(1.1);
	background: #6c63ff;
	color: white;
}

.link {
	text-decoration: none;
	color: #866a5e;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	align-items: center;
	grid-template-areas:
		'dis img'
		'footer footer';
	/* border: 1px solid red; */
	height: 90vh;
}

.discription {
	grid-area: dis;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0.5em;
	gap: 2em;
}

.disHeader {
	font-size: calc(16px + (60 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.discription p {
	text-align: center;
	max-width: 75ch;
	padding: 0.5em;
	line-height: 170%;
}

.btn {
	padding: 0.5em 2em;
	border-color: #6c63ff;
	background: none;

	border-top-right-radius: 15px;
	outline: none;
	cursor: pointer;
	transition: all 0.4s ease;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn:hover {
	/* border-color: whitesmoke; */
	background: #6c63ff;
	color: whitesmoke;
}

.imageContainer {
	grid-area: img;
	/* border: 1px solid red; */
}

.imageContainer img {
	width: 80%;
	max-width: 100%;
	height: auto;
	margin-top: 30px;
	/* border: 1px solid red; */
}

.modal {
	position: fixed;
	z-index: 10;
	left: 50%;
	top: 0;
	padding: 2em;
	overflow: hidden;
	-webkit-transform: translate(-50%, -65%);
	-o-transform: translate(-50%, -65%);
	-ms-transform: translate(-50%, -65%);
	transform: translate(-50%, -65%);
	transition: all 0.8s ease-in-out;
	-webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	color: white;
}

.toggle {
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	color: white;
	background: #6c63ff;
	border-radius: 20px;
}

.userName {
	font-size: 2em;
	font-weight: bold;
	width: fit-content;
	margin: auto;
}

.footer {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-self: end;
	gap: 3em;
	padding: 1em;
	width: 100%;
	/* border: 1px solid red; */
	grid-area: footer;
}

.footer img {
	width: 30px;
}

.youtube {
	margin-top: 10px;
}

.footer a:hover {
	transform: translateY(-10px);
}

.footer a {
	transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
	.main {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: auto;
		align-items: center;
		grid-template-areas:
			'dis'
			'img'
			'footer';
		gap: 0;
		position: absolute;
		bottom: 1px;
	}

	.discription {
		padding: 2em 0;
	}

	.imageContainer {
		justify-self: center;
		width: 80%;
		padding: 1em;
	}

	.imageContainer img {
		margin: auto;
		width: 100%;
	}
}

@media screen and (max-width: 900px) {
	#header {
		grid-template-columns: repeat(3, 1fr);
		/* border: 1px solid red; */
	}

	.logInContainer ul {
		justify-content: center;
		padding: 0;
		gap: 1em;
		align-items: center;
		color: #5c3e3f;
	}

	.signIn,
	.signOut {
		padding: 0.5em 1em;
		border-radius: 10px;
		letter-spacing: 0;
		text-transform: uppercase;
	}
}

@media screen and (max-width: 700px) {
	#header {
		grid-template-columns: 20% 1fr 1fr;
		/* border: 1px solid red; */
		padding: 0;
		top: 20px;
	}

	.logoText {
		display: none;
	}

	#nav ul {
		justify-content: center;
		gap: 1em;
		color: #5c3e3f;
	}

	.imageContainer {
		margin-top: 25px;
	}

	.logo {
		width: 50px;
	}
}

@media screen and (max-width: 500px) {
	#header {
		grid-template-columns: 40% 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			'logoContainer loginContainer'
			'nav nav';
		justify-items: stretch;
		top: 0;
		gap: 1em;
		padding: 1em 0;
	}

	#logoContainer {
		grid-area: logoContainer;
	}

	#nav {
		grid-area: nav;
		justify-self: center;
		padding: 0.5em;
	}

	#nav ul {
		gap: 2em;
	}

	.logInContainer {
		grid-area: loginContainer;
	}

	.discription {
		gap: 1em;
	}

	.discription p {
		padding: 1em;
	}

	.main {
		position: relative;
	}

	.footer {
		gap: 1em;
	}

	.signIn,
	.signOut {
		font-size: 12px;
	}
}
