*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#header {
	/* border: 1px solid red; */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	/* grid-auto-flow: column;
  grid-auto-columns: 1fr 3fr 3fr; */
	/* justify-content: space-between; */
}

#logoContainer {
	/* border: 1px solid red; */
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 20px;
	padding-left: 1em;
}

.logoText {
	font-size: calc(30px + (50 - 14) * ((100vw - 300px) / (1600 - 300)));
	/* color: #5C3E3F; */
	text-shadow: 0.025em 0.025em 0 white, 0.05em 0.05em 0 blue,
		0.075em 0.075em 0 #5c3e3f, 0.1em 0.1em 0 black;
}

#nav ul {
	display: flex;
	height: 100%;
	align-items: flex-end;
	justify-content: start;
	gap: 2em;
	list-style: none;
	color: #5c3e3f;
	/* border: 1px solid red; */
}

.navBtn {
	background: none;
	border: none;
	position: relative;
	padding-bottom: 5px;
	transition: width 0.4s ease;
}

.navBtn::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	transition: width 0.4s ease-in-out;
}

.navBtn:hover::before {
	background: #6c63ff;
	width: 100%;
	height: 2px;
}

.logInContainer {
	position: relative;
	top: 20px;
}

.logInContainer ul {
	display: flex;
	height: 100%;
	justify-content: center;
	padding-right: 1em;
	gap: 4em;
	align-items: center;
	list-style: none;
	color: #5c3e3f;
}

.signIn,
.signOut {
	padding: 0.7em 1.5em;
	border-radius: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #6c63ff;
	border: none;
	transition: all 0.4s ease;
}

.inBtn:hover,
.outBtn:hover {
	transform: scale(1.1);
	background: #6c63ff;
	color: white;
}

.link {
	text-decoration: none;
	color: #866a5e;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	align-items: center;
	/* border: 1px solid red; */
	height: 90vh;
}

.discription {
	/* border: 1px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0.5em;
	gap: 2em;
}

.disHeader {
	font-size: calc(16px + (60 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.discription p {
	text-align: center;
	max-width: 75ch;
	padding: 0.5em;
}

.btn {
	padding: 0.5em 2em;
	border-color: #6c63ff;
	background: none;

	border-top-right-radius: 15px;
	outline: none;
	cursor: pointer;
	transition: all 0.4s ease;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn:hover {
	/* border-color: whitesmoke; */
	background: #6c63ff;
	color: whitesmoke;
}

.imageContainer img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.modal {
	position: fixed;
	z-index: 10;
	left: 50%;
	top: 0;
	padding: 2em;
	overflow: hidden;
	-webkit-transform: translate(-50%, -65%);
	-o-transform: translate(-50%, -65%);
	-ms-transform: translate(-50%, -65%);
	transform: translate(-50%, -65%);
	transition: all 0.8s ease-in-out;
	-webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	color: white;
}

/* modalContainer.style.transition = `all 0.5s ease-in-out`;
	modalContainer.style.transform = `translate(-50%, 0) `; */

.toggle {
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	color: white;
	background: #6c63ff;
	border-radius: 20px;
}

.userName {
	font-size: 2em;
	font-weight: bold;
	width: fit-content;
	margin: auto;
}
