*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	background-image: url('../images/undraw_education_f8ru.svg');
	background-blend-mode: hue;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-attachment: fixed;
}

#homeBtn {
	text-decoration: none;
}

#logoContainer {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	width: min-content;
	width: fit-content;
	display: flex;
	align-items: center;
	padding: 1em;
	gap: 1em;
	z-index: 100;
	border-radius: 40px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.nav {
	position: absolute;
	top: 2%;
	right: 0;
	display: flex;
	gap: 5em;
	justify-content: space-around;
	width: 75%;
	height: 5em;
}

.linksContainer {
	display: flex;
	gap: 4em;
	padding: 0 1em;
}

.links {
	text-decoration: none;
	color: #866a5e;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.3em 0;
	transition: 0.4s ease-in-out;
	position: relative;
	font-size: 16px;
	align-self: flex-end;
}

.links::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	transition: width 0.4s ease-in-out;
}

.links:hover::before {
	background: #6c63ff;
	width: 100%;
	height: 2px;
}

.logInContainer {
	position: relative;
	/* top: 20px; */
}

.logInContainer ul {
	display: flex;
	height: 100%;
	justify-content: flex-end;
	padding-right: 1em;
	gap: 4em;
	align-items: center;
	list-style: none;
	color: #5c3e3f;
}

.signIn,
.signOut {
	padding: 0.7em 1.5em;
	border-radius: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #6c63ff;
	border: none;
	transition: all 0.4s ease;
}

.inBtn:hover,
.outBtn:hover {
	transform: scale(1.1);
	background: #6c63ff;
	color: white;
}

/* .logo {
    filter: grayscale(80%);
} */

.logoText {
	font-size: calc(20px + (50 - 14) * ((100vw - 300px) / (1600 - 300)));
	color: #f0f0f0;
	text-shadow: 0.025em 0.025em 0 #bebebe, 0.05em 0.05em 0 #bbbbbb;
	/* 0.075em 0.075em 0 #A9A9A9; */
	/* 0.1em 0.1em 0 #999999; */
	/* text-shadow: 
    0.025em 0.025em 0 white,
    0.05em 0.05em 0 blue,
    0.075em 0.075em 0 #5C3E3F,
    0.1em 0.1em 0 black; */
}

.promoHeader {
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.test {
	height: 100%;
	border: 1px solid red;
}

.promoHeader figure {
	position: relative;
	display: flex;
	align-items: center;
	width: 300px;
}

.promoHeader figure img {
	max-width: 100%;
}

.text {
	width: 100%;
	height: 100%;
	position: absolute;
}

.text p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: calc(1rem + (120 - 16) * ((100vw - 300px) / (1600 - 300)));
	color: #f0f0f0;
	text-shadow: 0.025em 0.025em 0 #bebebe, 0.05em 0.05em 0 #bbbbbb;
	width: 100%;
	text-align: center;
}

.container {
	padding: 2em 0;
	border: 1px solid red;
}

.booksContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2em;
	position: relative;
	top: 2em;
	margin: auto;
	padding-bottom: 1.5em;
	border: 1px solid red;
	width: fit-content;
}

.book {
	width: 15em;
	height: 19em;
	position: relative;
	display: flex;
	gap: 2em;
	align-items: center;
	flex-direction: column;
}

.img-price {
	border: 1px solid black;
	position: relative;
	width: 200px;
	height: 250px;
}

.bookCover {
	max-width: 100%;
	width: 100%;
	height: 100%;
}

.price {
	position: absolute;
	top: 0;
	left: -50px;
	background: white;
	padding: 0.5em;
	color: red;
	/* border: 1px solid #6C63FF; */
}

.btnContainer {
	/* border: 1px solid red; */
	display: flex;
	justify-content: space-between;
	gap: 0.5em;
	position: absolute;
	bottom: 0;
}

.btn,
.link {
	padding: 0.4em 2em;
	border-radius: 5px;
	border: 1px solid #6c63ff;
	background: none;
	border-top-right-radius: 15px;
	outline: none;
	cursor: pointer;
	transition: all 0.4s ease;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.link {
	text-decoration: none;
}

.btn:hover,
.link:hover {
	background: #6c63ff;
	color: whitesmoke;
}

.modal {
	position: fixed;
	z-index: 10;
	left: 50%;
	top: 0;
	padding: 2em;
	overflow: hidden;
	-webkit-transform: translate(-50%, -65%);
	-o-transform: translate(-50%, -65%);
	-ms-transform: translate(-50%, -65%);
	transform: translate(-50%, -65%);
	transition: all 0.8s ease-in-out;
	-webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	color: white;
}

.toggle {
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	color: white;
	background: #6c63ff;
	border-radius: 20px;
}

.userName {
	font-size: 2em;
	font-weight: bold;
	width: fit-content;
	margin: auto;
}

@media screen and (max-width: 850px) {
	#logoContainer {
		border: 1px solid red;
		margin-top: 10px;
	}

	.logo {
		border: 1px solid red;
		width: 3em;
	}

	.logoText {
		display: none;
	}

	.price {
		left: -15px;
	}

	.nav {
		border: 1px solid red;
		gap: 0;
		justify-content: center;
		width: 85%;
	}

	.linksContainer {
		padding: 0;
		border: 1px solid red;
		gap: 2em;
		width: 50%;
		justify-content: center;
	}

	.logInContainer {
		width: 50%;
		margin-left: auto;
	}

	.logInContainer ul {
		border: 1px solid red;
		align-items: flex-start;
		justify-content: center;
		padding: 0;
		gap: 2em;
	}
}

@media screen and (max-width: 500px) {
	#logoContainer {
		border: 1px solid red;
		margin-top: 10px;
	}

	.logo {
		border: 1px solid red;
		width: 2.5em;
	}
	.signIn,
	.signOut {
		padding: 0.5em 1em;
		border-radius: 10px;
		font-size: 10px;
	}
}
